$black-and-white-variant: 0.8;

@mixin background-cover($url) {
    background-image: url($url);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}

@mixin back-white-filter {
    filter: grayscale($black-and-white-variant);
    -webkit-filter: grayscale($black-and-white-variant);
    -moz-filter: grayscale($black-and-white-variant);
    -o-filter: grayscale($black-and-white-variant);
    -ms-filter: grayscale($black-and-white-variant);
}

@mixin picture($defaultImgUrl, $height, $width) {
    position: relative;
    width: 100%;
    height: 440px;
    & > div {
        @include background-cover($defaultImgUrl);
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
            width: 100%;
            @include back-white-filter;
        }
    }
    & > p {
        position: absolute;
        bottom: 0;
        margin: 0;
        width: 100%;
        text-align: center;
        padding: 5px;
        color: #FFF;
        font-size: 16px;
        text-transform: uppercase;
        background-color: rgba(3, 169, 244, 0.5);
    }
}

@mixin card-info() {
    .card-info {
        color: $primary-text-color;
        & > div {
            margin:10px 0;
        }
        .card-info--level1 {
            font-size: 22px;
            //color: $accent-color;
        }
        .card-info--level2 {
            font-size: 16px;
        }
        .card-info--level3 {
            font-size: 16px;
            color: $secondary-text-color;
        }
    }
}

/* a supprimer */
@mixin card($defaultImgUrl, $height, $width) {
    position: relative;
    margin: 10px 10px;

    .visuel {
        @include background-cover($defaultImgUrl);
        width: $width;
        height: $height;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .card-info {
        width: 100%;
        position: absolute;
        bottom: 0;
        color: #FFF;
        padding-top: 20px;
        @include linear-background();
        .card-info--level1 {
            text-align: center;
            font-size: $concept-name-font-size;
            line-height: $concept-name-font-size;
            font-weight: bold;
            padding: 15px 10px 5px 10px;
        }
        .card-info--level2 {
            text-align: center;
            font-size: $concept-role-font-size;
            line-height: $concept-role-font-size;
            padding: 5px 10px 10px 10px;
        }
        .card-info--level3 {
            text-align: center;
            font-size: $concept-role-font-size;
            line-height: $concept-role-font-size;
            padding: 5px 10px 10px 10px;
        }
    }
}

@mixin hover-background() {
    background-color: rgba(0,0,0,0.5);
}

@mixin hover-actions() {
    @include hover-background();
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom:0;
    padding: 10px;
    button {
        color: #FFF;
        border: 2px solid #FFF;
        margin: 0 5px;
    }
}

@mixin linear-background() {
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.7), rgba(0,0,0,0.9));
}
