///////////////////////////////////////////////////////////
/// variables
/// //////////////////////////////////////////////////////

$color-primary: #36b7b9;
$color-secondary: #424950;
$color-tertiary: #9C9C9C;

$picture-large-width:210px;
$picture-small-width:30px;

$poster-large-width:180px;
$poster-large-height:290px;
$poster-small-width:19px;
$poster-small-height:30px;
