///////////////////////////////////////////////////////////
/// variables
/// //////////////////////////////////////////////////////

$color-primary: #36b7b9;
$color-secondary: #424950;
$color-tertiary: #9C9C9C;
