$width: 200px;

[data-role='homepage'] {
    [data-role='background-overlay'] {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #DDD;
    }
    [data-role='ranking'] {
        opacity: 0.99;

        h1 {
            text-align: center;
            font-size: 2em;
        }
        [data-role='cards'] {
            display: flex;
            justify-content: space-around;
            [data-role='poster'] {
                width: $width;
                height: 270px;
                position: relative;
                background-color: #EEE;
                border: solid 5px white;
                
                img {
                    width: 100%;
                    height: 100%;
                    opacity: 0.99;
                }
                i {
                    position: absolute;
                    top: 100px;
                    left: 75px;
                    font-size: 4em;
                }
            }
            [data-role='title'] {
                font-size: 1.2em;
                text-overflow: ellipsis;
                width: $width;
            }
            [data-role='year'] {
                font-size: 1.1em;
            }
        }
    }
}
