@import "variables";
@import "mixins";

.demo-app {
    background-color: #FAFAFA;
    width: 100%;
    min-height: 100%;
    margin: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: $primary-text-color;

    [data-focus='layout'] {
        background-color: transparent;
        min-height: 100%;
    }

    a {
        color: $accent-color;
        cursor: pointer;
    }

    @include headings {
        padding: 0;
        margin: 0;
        margin-bottom: 8px;
        color: $primary-color;
    }

}
