
[data-focus="popin"] {
    &[data-size="medium"] {
        [data-focus="popin-window"] {
            width: 50vw;
            [data-focus="panel"] {
                margin-top: 30px;
            }
        }
    }
}
