$movie-card-width:225px;
$movie-card-height:300px;
$movie-name-font-size:20px;
$movie-role-font-size:14px;

[data-demo="movie-card"] {
    position: relative;
    margin: 10px 10px;
    .movie-poster {
        background-image: url('../assets/img/unknown-person.gif');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 0%;
        width: $movie-card-width;
        height: $movie-card-height;
        overflow: hidden;
        img {
            width: 100%;
        }
    }

    .movie-info {
        width: 100%;
        position: absolute;
        bottom: 0;
        color: #FFF;
        padding-top: 20px;
        background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.7), rgba(0,0,0,0.9));
        .title {
            text-align: center;
            font-size: $movie-name-font-size;
            line-height: $movie-name-font-size;
            font-weight: bold;
            padding: 15px 10px 5px 10px;
        }
        .movie-type {
            text-align: center;
            font-size: $movie-role-font-size;
            line-height: $movie-role-font-size;
            padding: 5px 10px 10px 10px;
            font-weight: bold;
        }
        .production-year {
            text-align: center;
            font-size: $movie-role-font-size;
            line-height: $movie-role-font-size;
            padding: 5px 10px 10px 10px;
        }
    }
}


[data-demo="movie-card-list"] {
    display:flex;
    flex-wrap:wrap;
}
