@import "variables";

[data-focus='panel'] {
    [data-focus='panel-title'] {
        h1,h2,h3,h4 {
            color:$primary-color;
        }
    }
    &[data-demo="overview"] {
        background-color: $primary-color-light;
        [data-focus="button-action"] {
            background-color: $accent-color;
            color: $primary-color-text;
        }
    }
}
