$person-card-width:225px;
$person-card-height:300px;
$person-name-font-size:20px;
$person-role-font-size:14px;

[data-demo="person-card"] {
    position: relative;
    margin: 10px 10px;
    .photo {
        background-image: url('../assets/img/unknown-person.gif');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 0%;
        width: $person-card-width;
        height: $person-card-height;
        overflow: hidden;
        img {
            width: 100%;
        }
    }

    .identity-role {
        width: 100%;
        position: absolute;
        bottom: 0;
        color: #000;
        padding-top: 20px;
        background-image: linear-gradient(to bottom, transparent, rgba(255,255,255,0.5), rgba(255,255,255,0.6));
        .name {
            text-align: center;
            font-size: $person-name-font-size;
            line-height: $person-name-font-size;
            font-weight: bold;
            padding: 15px 10px 5px 10px;
        }

        .role {
            text-align: center;
            font-size: $person-role-font-size;
            line-height: $person-role-font-size;
            padding: 5px 10px 10px 10px;
        }
    }
}


[data-demo="person-card-list"] {
    display:flex;
    flex-wrap:wrap;
}
