@import "variables";
@import "mixins";


[data-demo="poster"] {
    background-color: #F1F1F1;
    border: 1px solid #C0C0C0;
    width: $poster-large-width;
    height: $poster-large-height;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items:center;
    position: relative;
    overflow: hidden;
    img {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
    }
    .zoom {
        align-items: center;
        display: none;
        @include hover-actions();
        button {
            margin: 0 auto;
        }
    }

    &:hover {
        .zoom {
            display: flex;
        }
    }
    /*
    &:after {
    font-family: 'Material Icons';
    content: 'local_movies';
    position: absolute;
    top: 0;
    left:0;
    color: #000;
    font-size: 18px;
}*/
}

[data-demo="poster"] {
    [data-focus='popin'] {
        &[data-type='full'] {
            &[data-size='medium'] {
                & > [data-focus='popin-overlay'] {
                    height: auto;
                    div[data-focus='popin-window'] {
                        width: $poster-popin-img-width;
                        height: $poster-popin-img-height;
                        min-width: auto;
                        min-height: auto;
                        margin-top: $poster-popin-margin-top;
                        margin-bottom: $poster-popin-margin-top;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}

[data-demo='header-content-expanded'] {
    [data-demo="poster"] {
        width: $poster-large-width;
        height: $poster-large-height;
    }
}
[data-demo='header-content-summary'] {
    [data-demo="poster"] {
        width: $poster-small-width;
        height: $poster-small-height;
        margin-right: 10px;
        i {
            font-size: 12px;
        }
    }
}
