
[data-demo='preview'] {
    [data-demo='preview-header'] {
        display: flex;
        align-items: center;
        div:last-child {
            padding-left: 20px;
        }
    }
    [data-demo='preview-content'] {
        margin-top: 40px;
    }
}
