@import "variables";

$scrollspy-container-menu-size:220px;
$media-desktop-breakpoint: 840px !default;

[data-focus="scrollspy-container"] {
    [data-focus="sticky-menu"] {
        ul {
            border-left: 1px solid #cbcbcb;
            li {
                color: $primary-text-color;
                text-align: left;
                font-size: 11pt;
                margin: 0;
                padding: 10px 5px 10px 20px;
                position: relative;
                left: -2px;
                &[data-active="true"] {
                    font-size: 20px;
                    color: $accent-color;
                    border-left: 3px solid $accent-color;
                }
            }
        }
    }
}

@media (min-width: $media-desktop-breakpoint - 1) {
    [data-focus="scrollspy-container"] {
        [data-focus="sticky-menu"] {
            width: $scrollspy-container-menu-size;
        }
        [data-focus="scrollspy-container-content"] {
            margin-left: #{$scrollspy-container-menu-size + 10px};
        }
    }
}
