@sidebar-width:100px;
@background-color: #EEEEEE;
@border-color: #c3c3c3;

.mov-logo{
  float: left;
  width: 40px;
  height: 40px;
  margin: 5px 5px 0 0;
}

.resultContainer{
  width:50% !important;
}
.search-panel {
  width:60% !important;
  float: left;
}

#lineResume{
  margin-left: 10px;
  display: inline-block;
  width: 33%;
}
.movie-lineResume{
  width: 100%;
  display: inline-block;
  padding-bottom: 20px;
  border-bottom: 1px @border-color solid;
}
.movie-resume-logo img{
  float: left;
  width: 50px;
  height: 50px;
  margin: 0 10px 0 0;
}
.movie-info {
  float: left;
  width: 65%;
}

.movie-link-detailed-sheet {
  float: left;
  width: 20%;
  text-align: right;
  cursor: pointer;
  text-decoration: none;
}

.movie-descrition{
  padding: 10px 0 20px 0;
  border-bottom: 1px @border-color solid;
}
.container-title, .details-panel-title{
  font-size: 16px;
  text-transform: uppercase;
  color: #acacac;
}

ul.selection-list li.sl-line div.sl-selection {
  background-color: #fff;
  min-height: 60px;
}

ul.selection-list li.sl-line {
  padding-left: 10px;
  min-height: 60px;
}

ul.selection-list li.sl-line:hover {
  background: #d8e5fa;
}