@import "variables";

[data-focus="selection-list"] {
    [data-focus="sl-line"] {
        border: 0px solid transparent !important;
        padding: 15px 20px;
        background-color: #F5F4F4;
        margin-bottom: 7px;
        min-height: auto;
        border-radius: 5px;
        .level1 {
            font-size: 15px;
            color: $accent-color;
        }
        .level2 {
            font-size: 13px;
            color: $primary-text-color
        }
        .level3 {
            font-size: 13px;
            color: $secondary-text-color;
        }
    }
}
