<div id="zone1"></div>
<div id="zone2"></div>
<div id="zone3"></div>
<div id="zone4"></div>
<div id="zone5"></div>
{{button "edit" class="btnEdit btn-primary"}}
{{button "save" type="submit" class="btnSave btn-primary"}}