    <form novalidate>
        <div class="row">
          {{introspect "" isDisplay=false}}
        </div>
        <br />

        {{button "button.reset" class="btnReset"}}
        {{button "button.search" icon="search" class="btn-primary pull-right" type="submit"}}
    </form>
<div id="results"></div>