<hr />
<h2>Résultats</h2>
{{#result isTable=false showHeaderActions=false}}
  {{#each collection}}
    <li data-id='{{id}}' class='{{type}} list-group-item'><samp class="text">{{text}}</samp> from <kbd>{{author}}</kbd></li>
  {{/each}}
{{/result}}